<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

<!-- logout button -->
<form id="logout" action="/logout" method="get">
	<fieldset id = log_out>
		<input type="submit" id="submit" value="Logout">
	</fieldset>
</form>

<form id="selection" action="/selection_page" method="get">
    <fieldset id = btn>
        <a href="/add_parking"><input type="button" id = "o_r_button" value="Offer Space"</a>
        <a href="/search_parking"><input type="button" id = "o_r_button" value="Search Space"</a>
    </fieldset>
</form>